/*All site*/
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5 em;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color : black;
  }
.TheForum{
    background-color: orange;
    color: white;
    padding:15px;
    text-align:center;
  }

main{
    display:flex;
}


/*Navbar*/
.menu {
    float: left;
    width: 20%;
    text-align: center;
  }

  .menu a {
    background-color: orange;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: white;
  }


/*Footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    text-align: center;
    color: white;
}

.footer a {
    color: white;
}

/*Home*/
.homeMain{
    float: left;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }

.homeRight{
    float: left;
    width: 20%;
    text-align: center;
    
}

.homeRight a {
    background-color: orange;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: white;
    text-transform: uppercase;
  }


/*Topics/Posts Lists*/
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    flex-grow: 1;
    text-align: center;
    background-color: #f2f2f2;
}

#forum {
    display: flex;
    align-items: center;
}


/*User Profile*/
.userMain {
    float: left;
    width: 100%;
    padding: 0 20px;
  }

.userMain table{
    width: 100%;
}

.userMain th{
    width: 33%;
}
.userMain p{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: bold;
}

.userRight {
    background-color: orange;
    color: white;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }

  .userRight a {
    color: white;    
  }
  

/*Forms*/
.newTopicForm {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #f2f2f2;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #a06345;
}

.addCatMain{
    float: left;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
  
.addCatMain form{
    width: 100%;
}

/*TopicsList*/
  .topicsMain {
    float: left;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.topicsMain table{
    width: 100%;
}

.topicsRight {
    float: left;
    width: 33%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    border: 1px solid orange;
}
  

/*media queries*/
@media only screen and (max-width: 640px) {
    /* For mobile phones: */
    main{flex-direction: column;}
    .menu, .homeMain, .homeRight,.userMain, .userRight, .topicsMain, .topicsRight {
      width: 100%;
    }
}